In [48]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
df=pd.read_csv("D:\\ML And Data Science\\CLASS 10\\game data.csv")

In [28]:
df

   Days Outlook Temprature  Routine Wear Jacket?
0     1   Sunny       Cold  Indoor            No
1     2  Cloudy       Cold  Indoor           Yes
2     3  Cloudy       Warm  Outdoor           No
3     4   Sunny       Cold  Outdoor          Yes
4     5  Cloudy       Cold  Outdoor          Yes
5     6   Sunny       Warm  Outdoor           No
6     7  Cloudy       Warm  Indoor            No
7     8   Sunny       Warm  Indoor            No

In [29]:
df=df.drop('Days',axis=1)

In [30]:
df

  Outlook Temprature  Routine Wear Jacket?
0   Sunny       Cold  Indoor            No
1  Cloudy       Cold  Indoor           Yes
2  Cloudy       Warm  Outdoor           No
3   Sunny       Cold  Outdoor          Yes
4  Cloudy       Cold  Outdoor          Yes
5   Sunny       Warm  Outdoor           No
6  Cloudy       Warm  Indoor            No
7   Sunny       Warm  Indoor            No

In [31]:
df.isnull()

   Outlook  Temprature  Routine  Wear Jacket?
0    False       False    False         False
1    False       False    False         False
2    False       False    False         False
3    False       False    False         False
4    False       False    False         False
5    False       False    False         False
6    False       False    False         False
7    False       False    False         False

In [32]:
df.isnull().sum()

Outlook         0
Temprature      0
Routine         0
Wear Jacket?    0
dtype: int64

In [33]:
df.isnull().sum().sum()

0

In [34]:
df.describe()

       Outlook Temprature  Routine Wear Jacket?
count        8          8        8            8
unique       2          2        2            2
top      Sunny       Cold  Indoor            No
freq         4          4        4            5

In [35]:
df['Outlook'].value_counts()

Sunny     4
Cloudy    4
Name: Outlook, dtype: int64

In [36]:
df['Temprature'].value_counts()

Cold    4
Warm    4
Name: Temprature, dtype: int64

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
le=LabelEncoder()

In [39]:
x=df.drop(['Wear Jacket?'],axis=1)
y=df[['Wear Jacket?']]

In [40]:
x.columns

Index(['Outlook', 'Temprature', 'Routine'], dtype='object')

In [41]:
x[['Outlook','Temprature','Routine']]=x[['Outlook','Temprature','Routine']].apply(lambda col:le.fit_transform(col))

In [42]:
x.head()

   Outlook  Temprature  Routine
0        1           0        0
1        0           0        0
2        0           1        1
3        1           0        1
4        0           0        1

In [43]:
df.head()

  Outlook Temprature  Routine Wear Jacket?
0   Sunny       Cold  Indoor            No
1  Cloudy       Cold  Indoor           Yes
2  Cloudy       Warm  Outdoor           No
3   Sunny       Cold  Outdoor          Yes
4  Cloudy       Cold  Outdoor          Yes

# Decision_tree

# shift+tap

In [50]:
from sklearn.tree import DecisionTreeClassifier

In [51]:
clf=DecisionTreeClassifier()

In [52]:
clf.fit(x,y)

DecisionTreeClassifier()

In [53]:
clf.predict([[1,0,0]])

C:\Users\ASUS\anaconda3\New folder\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['No'], dtype=object)

In [54]:
tree.plot_tree(clf)

NameError: name 'tree' is not defined